.feature {
  gap: 2.4rem;
  text-align: center;
}
.feature-icon {
  background-color: var(--catskill-white);
  width: 35%;
  border-radius: 50%;
  padding: 1.8rem;
}
.feature-icon-img {
  width: 100%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
