.jewellery-img {
  height: 10rem;
  width: 30%;
  background-image: linear-gradient(
      to right bottom,
      var(--brand-color-alpha-3),
      var(--dark-blue-alpha-3)
    ),
    url(../../images/categories-coverimage-jewellery.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
