.products-container {
  width: 80%;
  margin: auto;
  padding: 9.6rem 0;
  gap: 8.4rem;
}
.pdt-img {
  width: 100%;
  max-height: 60rem;
}
.products-container .pdt-img {
  height: 30rem;
}

.pdt-wrapper {
  gap: 1.8rem;
  background-color: var(--light-shade);
  padding: 4.8rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.loading {
  width: 30%;
  margin: 4.8rem auto;
}
.pdt-image-wrapper {
  width: 60%;
  align-self: center;
}
.pdt-name {
  color: var(--dark-blue);
  font-size: 2rem;
  font-weight: var(--font-bold);
}
.pdt-name:hover {
  color: var(--very-dark-blue);
  text-decoration: underline;
}
.pdt-info {
  gap: 2.4rem;
}
.pdt-rating {
  padding: 1.2rem;
  background-color: var(--dark-blue);
  font-size: 1.8rem;
  color: var(--light-shade);
  display: inline-block;
}
.pdt-cost {
  color: var(--dark-blue);
  font-size: 3.2rem;
  font-weight: var(--font-bold);
}
