.pdt-details-wrapper {
  padding: 2.4rem 0;
  gap: 9.6rem;
}
.pdt-details-wrapper > * {
  width: 50%;
}
.pdt-title {
  color: var(--dark-blue);
  font-size: 3.6rem;
  font-weight: var(--font-semi-bold);
}
.pdt-contentbox {
  gap: 2.4rem;
}

.pdt-contentbox .pdt-info {
  gap: 1.2rem;
}
.pdt-contentbox .pdt-info .pdt-cost {
  margin-left: auto;
}
.pdt-description {
  line-height: 1.5;
  color: var(--dark-accent);
}
