.login {
  background-color: var(--light-shade);
  width: 40%;
  margin: auto;
  padding: 4.8rem;
  text-align: center;
  gap: 2.4rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.login-logo {
  width: 30%;
  display: inline-block;
}
.login-title {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.login-form input {
  width: 100%;
  padding: 0.8rem;
  font-family: inherit;
  font-size: 1.6rem;
}
.btn-login-submit {
  background-color: var(--brand-color);
  color: var(--light-shade);
}
.btn-login-submit:hover {
  background-color: var(--dark-blue);
}
.error {
  margin-bottom: 1.8rem;
  display: inline-block;
  color: var(--red);
  font-weight: var(--font-semi-bold);
}
.login-link {
  font-weight: var(--font-bold);
  color: var(--brand-color);
  cursor: pointer;
}
.login-link:hover {
  text-decoration: underline;
}
