/* GENERAL REUSABLE COMPONENTS */
.heading-primary,
.heading-secondary {
  font-weight: var(--font-semi-bold);
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: var(--font-bold);
  font-family: inherit;
  color: inherit;
}
.btn-cta,
.btn-cta:link,
.btn-cta:visited {
  background-color: var(--brand-color);
  color: var(--light-shade);
}
.btn-cta:hover,
.btn-cta:active {
  background-color: var(--dark-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Back arrow */
.btn-back-arrow {
  background-color: var(--dark-blue);
  color: var(--light-shade);
  display: inline-block;
  padding: 0.4rem;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.btn-back-arrow ion-icon {
  width: 3.2rem;
  height: 3.2rem;
}
.main-container {
  min-height: 100vh;
}
