@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
  /* Colors */
  /* Primary */
  --brand-color: #0255bf;

  /* Accents */
  --dark-accent: #485d7c;
  --light-accent: #63a3c5;

  /* Shades */
  --dark-shade: #13121d;
  --light-shade: #ffffff;

  --dark-blue: #024499;
  --very-dark-blue: #012b60;
  --catskill-white: #e6eef9;

  --brand-color-alpha-3: rgb(2, 85, 191, 0.35);
  --dark-blue-alpha-3: rgb(2, 68, 153, 0.35);

  --red: #e64e4f;

  /* Font weights */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font size setting */
html {
  font-size: 62.5%;
}

/* General Styling */
body {
  font-family: "Sofia Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--dark-shade);
  background-color: var(--catskill-white);
  line-height: 1;
}
